.Form_icon{
    position: absolute;
    bottom: 5%;
    right:5%;
    
}
.Form_overlay-content{
    display: block;
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}
.Form_closebtn{
    position: absolute;
    right: 25px;
    font-size: 60px;
}

.form_overlay{
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(221, 218, 218, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}